BasedOnStyle: Microsoft

AlignAfterOpenBracket: false
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
IndentCaseLabels: true
PointerAlignment: Left
